.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

h2 {
    width: 16.2%; 
    margin-left: 31.2em;
    margin-top: 1em; 
    box-shadow: 2px 2px 4px;
    @media screen and (max-width: 768px) {
        width: 68%; 
        margin-left: 3.2em;
        margin-top: 1em; 
        box-shadow: 2px 2px 4px;
    }
}

button {
    margin-left: 44em;
    margin-top: 1em;
    margin-bottom: 1em;
    @media screen and (max-width: 768px) {
        margin-left: 7.7em;
    }
}

.select12 {
    margin-left: 1em;
    @media screen and (max-width: 768px) {
    margin-left: 9.2em;
    }
}
  
.flex-container > div {
    text-align: center;
    margin: 10px;
    width: calc(33.33% - 20px);
}
  

img {
    max-width: 100%;
    height: auto;
}

.selected {
    border: 0.1px solid blue;
}

mat-card {
    text-align: center;
    width: 32%; 
    margin-left: 0.5em;
    margin-top: 1em; 
    box-shadow: 2px 2px 4px;
    @media screen and (max-width: 768px) {
        width: 95%; 
        margin-left: 0.5em;
        margin-top: 1em; 
        box-shadow: 2px 2px 4px;
    }
}