<h2>ESP32-CAM Photo Gallery</h2>

<button mat-raised-button color="warn" (click)="deleteSelectedImages()">Delete Selected</button>
  <mat-form-field>
    <mat-select [(value)]="selectedImageCount">
      <mat-option *ngFor="let option of imageCountOptions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
<button class="select" mat-raised-button color="primary" (click)="selectImages()">Select</button>

<div class="flex-container">
  <mat-card *ngFor="let imageName of images" class="image-card">
    <div [class.selected]="selectedImages.has(imageName)">
      <mat-checkbox [checked]="selectedImages.has(imageName)" (click)="toggleSelection(imageName)"></mat-checkbox>
      <p class="image-timestamp">{{ formattedTimestamp(imageName) }}</p>
      <img [src]="getImageUrl(imageName)" alt="" title="">
    </div>
  </mat-card>
</div>