.sidenav-container {
    height: 100%;
}
  
.sidenav {
    width: 180px;
}

.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    shape-margin: 10px;
    border-radius: 50%;
}

.toggle-theme-button {
    margin-left: 10px;
    border-radius: 8px;
}

.dark-theme {
    background-color: grey;
    color: black;
    .sidenav {
        background-color: grey;
    }
    p {
        color: white;
    }
}

mat-icon {
    margin-top: 4px;
}
